# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignorar arquivos específicos 
/static/data/fipe_2022.csv
/data/media/model_fipe.pkl