{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Tabela Fipe</title>
</head>
<body>
    <div>
        <form action="{% url 'home' %}" method="POST">
            {% csrf_token %}

            <label for="brand">Marca:</label> 
            <select name="brand" id="brand">
                <option value="">Selecionar Marca</option>
                {% for marca in marcas %}
                    <option value="{{ marca }}" {% if marca == selected_brand %}selected{% endif %}>
                        {{ marca }}
                    </option>
                {% endfor %}
            </select>

            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>